# Files ignored by git

# Project --------------------------------------------------------------------
checkpoints
logs

.venv

# Python ---------------------------------------------------------------------
*.egg-info
__pycache__

*.py[cod]

# V-REP ----------------------------------------------------------------------
remoteApi.so
vrep*
