# Files ignored by git

# Project --------------------------------------------------------------------
.venv

# Python ---------------------------------------------------------------------
*.egg-info
__pycache__

*.py[cod]
